<!--- banner ---->
<div class="banner">
	<div class="container">
		<h1 class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;"> Raye7 - The Best for Trips & Pickups</h1>
	</div>
</div>

<% if current_user&& current_user.role == 'driver'%>
    <% controller.redirect_to trips_path %>
<%elsif current_user&&current_user.role == 'passenger'%>
    <% controller.redirect_to pickups_path %>
<%end%>